.show_time{
    background-color:gray;
    color: white;
}
.Submitbyn{
    background-color:  gray !important;
}
.form-area{
    background-color: white;
}
.input{
    background-color: gray;
    color: black;
}
.heading{
    color: rgb(9, 9, 9);
}
